.kendrick {
    border-radius: 60px 60px 0 80px;
    width: 160px;
    height: 160px;
    object-fit: cover;

}

.eminem {
    border-radius: 80px 80px 80px 0;
    width: 160px;
    height: 192px;
    object-fit: cover;
}

.harlow {
    border-radius: 80px 0 80px 80px;
    width: 160px;
    height: 178px;
    object-fit: cover;
}

.cole{
    border-radius: 0 80px 80px 80px;
    width: 160px;
    height: 145px;
    object-fit: cover;
}